# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
*.log

# Env
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
~$*

# uv
.python-version
